@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
  }

  body {
    font-family: "Raleway", sans-serif;
    background-color: #d8dada;
    font-size: 19px;
    max-width: 800px;
    margin: 0 auto;
    padding: 3%;
  }

  img {
    max-width: 100%;
  }

  header {
    width: 98%;
  }

  #logo {
    max-width: 40px;
    margin: 3% 0 3% 3%;
    float: left;
  }

  #wrapper {
    background-color: #f0f6fb;
  }

  #social {
    float: right;
    margin: 3% 2% 4% 3%;
    list-style-type: none;
  }

  #social > li {
    display: inline;
  }

  #social > li > a > img {
    max-width: 35px;
  }

  h1, p {
    margin: 3%;
  }

  .btn {
    float: right;
    margin: 3% 2% 3% 0;
    background-color: #303840;
    color: #f6faff;
    text-decoration: none;
    font-weight: 600;
    padding: 8px, 12px;
    border-radius: 3px;
    letter-spacing: 2px;
  }

hr {
    height: 1px;
    background-color: #303840;
    clear: both;
    width: 96%;
    margin: auto;
}

#contact {
    text-align: center;
    padding-bottom: 3%;
    line-height: 16px;
    font-size: 12px;
    color: #303840;
}